<form name="editForm" role="form" novalidate (ngSubmit)="submit()" #editForm="ngForm" class="form-inline fa-pull-right">
    <div class="form-group mb-2">
        <label for="field_ficheClient" jhiTranslate="comptaDecisionApp.form.inputLabel.ficheClient">Fiche Client</label><span
            style="color: red">*</span>&nbsp;&nbsp;&nbsp;
        <ng-select id="field_ficheClient" name="ficheClient" [(ngModel)]="selectedFicheClientId"
                (change)="updateAnneeMois()" [clearable]="false">
            <ng-option value=""></ng-option>
            <ng-option [value]="ficheClientOption.id"
                    *ngFor="let ficheClientOption of ficheClients; ">{{ficheClientOption.designation}}</ng-option>
        </ng-select>
    </div>
    <div class="form-group mx-sm-3 mb-2" [hidden]="hideTypeDeclaration">
        <label for="field_typeDeclaration" jhiTranslate="comptaDecisionApp.form.inputLabel.typeDeclaration">Type
            déclaration</label><span style="color: red">*</span>&nbsp;&nbsp;&nbsp;
        <ng-select [clearable]="false" required name="typeDeclaration" [(ngModel)]="selectedTypeDeclaration"
                id="field_typeDeclaration">
            <ng-option [value]="typeDeclarationOption" *ngFor="let typeDeclarationOption of typeDeclarationList;">
                {{'comptaDecisionApp.typeDeclaration.' + typeDeclarationOption | translate}}
            </ng-option>
        </ng-select>
    </div>
    <div class="form-group mx-sm-3 mb-2" [hidden]="hideTypeDeclarationCnss">
        <label for="field_typeDeclarationCnss" jhiTranslate="comptaDecisionApp.form.inputLabel.typeDeclaration">Type
            déclaration</label><span style="color: red">*</span>&nbsp;&nbsp;&nbsp;
        <ng-select [clearable]="false" required name="typeDeclaration" [(ngModel)]="selectedTypeDeclarationCnss"
                id="field_typeDeclarationCnss">
            <ng-option [value]="typeDeclarationOption" *ngFor="let typeDeclarationOption of typeDeclarationCnssList;">
                {{'comptaDecisionApp.typeDeclarationCnss.' + typeDeclarationOption | translate}}
            </ng-option>
        </ng-select>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="field_annee" jhiTranslate="comptaDecisionApp.form.inputLabel.annee">Annee</label><span
            style="color: red">*</span>&nbsp;&nbsp;&nbsp;
        <ng-select [clearable]="false" required name="annee" [(ngModel)]="selectedAnnee" id="field_annee">
            <ng-option [value]="anneeOption" *ngFor="let anneeOption of anneeList;">{{anneeOption}}</ng-option>
        </ng-select>
    </div>
    <div class="form-group mx-sm-3 mb-2" [hidden]="hideMois">
        <label for="field_mois" jhiTranslate="comptaDecisionApp.form.inputLabel.mois">Mois</label><span
            style="color: red">*</span>&nbsp;&nbsp;&nbsp;
        <ng-select [clearable]="false" required name="mois" [(ngModel)]="selectedMois" id="field_mois">
            <ng-option [value]="moisOption"
                    *ngFor="let moisOption of moisList;">{{'comptaDecisionApp.form.optionSelect.mois.' + moisOption | translate}}</ng-option>
        </ng-select>
    </div>
    <div class="form-group mx-sm-3 mb-2" [hidden]="hideTrimestre">
        <label for="field_trimestre" jhiTranslate="comptaDecisionApp.form.inputLabel.trimestre">Trimestre</label><span
            style="color: red">*</span>&nbsp;&nbsp;&nbsp;
        <ng-select [clearable]="false" required name="trimestre" [(ngModel)]="selectedTrimestre" id="field_trimestre">
            <ng-option [value]="trimestreOption"
                    *ngFor="let trimestreOption of trimestreList;">{{'comptaDecisionApp.form.optionSelect.trimestre.' + trimestreOption | translate}}</ng-option>
        </ng-select>
    </div>
    <div class="form-group mx-sm-3 mb-2" [hidden]="hildeNumeroAcompte">
        <label for="field_numeroAcompte" jhiTranslate="comptaDecisionApp.form.inputLabel.numeroAcompte">Numéro</label><span
            style="color: red">*</span>&nbsp;&nbsp;&nbsp;
        <ng-select [clearable]="false" required name="numeroAcompte" [(ngModel)]="selectedNumeroAcompte" id="field_numeroAcompte">
            <ng-option [value]="numeroAcompteOption"
                    *ngFor="let numeroAcompteOption of numeroAcompteList;">{{'comptaDecisionApp.form.optionSelect.numeroAcompte.' + numeroAcompteOption | translate}}</ng-option>
        </ng-select>
    </div>
    <button type="submit" class="btn btn-primary mb-2" [disabled]="editForm.form.invalid"><span
            jhiTranslate="entity.action.add">Créer</span></button>
</form>
