<div>
    <h2 id="page-heading">
        <span jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.home.title">Quittance Mensuelle Impots</span>
    </h2>
    <br>
    <br>
    <jhi-alert-error></jhi-alert-error>
    <jhi-new-entry [hideMois]="false" [hideTypeDeclaration]="false" (submitCreationForm)="addNewQuittance($event)"></jhi-new-entry>
    <br>
    <br>
        <div class="row">
            <div class="text-right offset-md-8 col-md-4">
<!--                    <button type="submit" [disabled]="!this.selectedQuittanceMensuelleImpot"-->
<!--                            [routerLink]="['/quittance-mensuelle-impot', selectedQuittanceMensuelleImpot ? selectedQuittanceMensuelleImpot.id : '', 'view' ]"-->
<!--                            class="btn btn-info btn-sm">-->
<!--                        <fa-icon [icon]="'eye'"></fa-icon>-->
<!--                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
<!--                    </button>-->
                    <button type="submit" [disabled]="!this.selectedQuittanceMensuelleImpot"
                            [routerLink]="['/quittance-mensuelle-impot', selectedQuittanceMensuelleImpot ? selectedQuittanceMensuelleImpot.id : '', 'edit']"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                    <button type="submit" [disabled]="!this.selectedQuittanceMensuelleImpot"
                            [routerLink]="['/', 'quittance-mensuelle-impot', { outlets: { popup: (selectedQuittanceMensuelleImpot ? selectedQuittanceMensuelleImpot.id : '') + '/delete'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="btn btn-danger btn-sm">
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
<!--                <button type="button" [disabled]="!this.selectedQuittanceMensuelleImpot"-->
<!--                        (click)="print()"-->
<!--                        class="btn btn-warning btn-sm">-->
<!--                    <fa-icon [icon]="'print-alt'"></fa-icon>-->
<!--                    <span class="d-none d-md-inline" jhiTranslate="entity.action.print">Print</span>-->
<!--                </button>-->
            </div>
        </div>
        <br>
        <table class="table table-responsive-sm table-bordered" *ngIf="quittanceMensuelleImpots">
            <thead>
            <tr class="text-center" jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
<!--            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            <th jhiSortBy="ficheClientDesignation"><span jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.ficheClient">Fiche Client</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="annee"><span jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.annee">Annee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mois"><span jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.mois">Mois</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeDeclaration"><span jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.typeDeclaration">Type déclaration</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numeroQuittance"><span jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.numeroQuittance">Numero Quittance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="datePaiement"><span jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.datePaiement">Date Paiement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montantTotal"><span jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.montantTotal">Montant</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<!--            <th></th>-->
            </tr>
            </thead>
            <tbody>
            <tr [ngClass]="isTrSelected(quittanceMensuelleImpot) && 'selected'" *ngFor="let quittanceMensuelleImpot of quittanceMensuelleImpots ;trackBy: trackId">
<!--               <td><a [routerLink]="['/quittance-mensuelle-impot', quittanceMensuelleImpot.id, 'view' ]">{{quittanceMensuelleImpot.id}}</a></td>-->
                <td><input type="checkbox" (click)="selectRow(quittanceMensuelleImpot)" [checked]="selectedQuittanceMensuelleImpot && quittanceMensuelleImpot.id === selectedQuittanceMensuelleImpot.id"></td>
                <td>
                    <div *ngIf="quittanceMensuelleImpot.ficheClientId">
                        <a [routerLink]="['../fiche-client', quittanceMensuelleImpot.ficheClientId , 'view' ]" >{{quittanceMensuelleImpot.ficheClientDesignation}}</a>
                    </div>
                </td>
                <td>{{quittanceMensuelleImpot.annee}}</td>
                <td jhiTranslate="{{'comptaDecisionApp.mois.' + quittanceMensuelleImpot.mois}}">{{quittanceMensuelleImpot.mois}}></td>
                <td jhiTranslate="{{'comptaDecisionApp.typeDeclaration.' + quittanceMensuelleImpot.typeDeclaration}}">{{quittanceMensuelleImpot.typeDeclaration}}></td>
                <td class="text-right">{{quittanceMensuelleImpot.numeroQuittance}}</td>
                <td class="text-right">{{quittanceMensuelleImpot.datePaiement | date:'mediumDate'}}</td>
                <td class="text-right">{{quittanceMensuelleImpot.montantTotal | number:'1.3-3'}}</td>

<!--                <td class="text-right">-->
<!--                    <div class="btn-group flex-btn-group-container">-->
<!--                        <button type="submit"-->
<!--                                [routerLink]="['/quittance-mensuelle-impot', quittanceMensuelleImpot.id, 'view' ]"-->
<!--                                class="btn btn-info btn-sm">-->
<!--                            <fa-icon [icon]="'eye'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
<!--                        </button>-->
<!--                        <button type="submit"-->
<!--                                [routerLink]="['/quittance-mensuelle-impot', quittanceMensuelleImpot.id, 'edit']"-->
<!--                                class="btn btn-primary btn-sm">-->
<!--                            <fa-icon [icon]="'pencil-alt'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
<!--                        </button>-->
<!--                        <button type="submit"-->
<!--                                [routerLink]="['/', 'quittance-mensuelle-impot', { outlets: { popup: quittanceMensuelleImpot.id + '/delete'} }]"-->
<!--                                replaceUrl="true"-->
<!--                                queryParamsHandling="merge"-->
<!--                                class="btn btn-danger btn-sm">-->
<!--                            <fa-icon [icon]="'times'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    <div *ngIf="quittanceMensuelleImpots && quittanceMensuelleImpots.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
