<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-quittance-mensuelle-impot-heading" jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.home.createOrEditLabel">Create or edit a Quittance Mensuelle Impot</h2>
            <br>
            <br>
            <div>
                <jhi-alert-error></jhi-alert-error>
                    <input [hidden]="true" type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="quittanceMensuelleImpot.id" readonly />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.ficheClient" for="field_ficheClient">Fiche Client</label>
                        <select [disabled]="true" class="form-control" id="field_ficheClient" name="ficheClient"
                                [(ngModel)]="quittanceMensuelleImpot.ficheClientId" (change)="initByParams()">
                            <option [ngValue]=""></option>
                            <option [ngValue]="ficheClientOption.id" *ngFor="let ficheClientOption of ficheClients; trackBy: trackFicheClientById">{{ficheClientOption.designation}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.typeDeclaration" for="field_typeDeclaration">Type déclaration</label>
                        <select [disabled]="true" required class="form-control" name="typeDeclaration"
                                [(ngModel)]="quittanceMensuelleImpot.typeDeclaration" id="field_typeDeclaration">
                            <option value="DECLARATION_INITIALE">{{'comptaDecisionApp.typeDeclaration.DECLARATION_INITIALE' | translate}}</option>
                            <option value="DECLARATION_RECTIFICATIVE">{{'comptaDecisionApp.typeDeclaration.DECLARATION_RECTIFICATIVE' | translate}}</option>
                        </select>
                        <div [hidden]="!(editForm.controls.typeDeclaration?.dirty && editForm.controls.typeDeclaration?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.typeDeclaration?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.annee" for="field_annee">Annee</label>
                        <select [disabled]="true" required class="form-control" name="annee" [(ngModel)]="quittanceMensuelleImpot.annee"
                                id="field_annee">
                            <option [ngValue]="quittanceMensuelleImpot.annee">{{quittanceMensuelleImpot.annee}}</option>
                        </select>
                        <div [hidden]="!(editForm.controls.annee?.dirty && editForm.controls.annee?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.annee?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.annee?.errors?.number" jhiTranslate="entity.validation.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label  jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.mois" for="field_mois">Mois</label>
                        <select [disabled]="true" required class="form-control" name="mois" [(ngModel)]="quittanceMensuelleImpot.mois"
                                id="field_mois">
                            <option [ngValue]="quittanceMensuelleImpot.mois">{{'comptaDecisionApp.mois.'+quittanceMensuelleImpot.mois | translate}}</option>
                        </select>
                        <div [hidden]="!(editForm.controls.mois?.dirty && editForm.controls.mois?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.mois?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.mois?.errors?.number" jhiTranslate="entity.validation.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label 
                               jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.numeroQuittance"
                               for="field_numeroQuittance">Numero Quittance</label>
                        <input type="text" class="form-control" name="numeroQuittance" id="field_numeroQuittance"
                               [(ngModel)]="quittanceMensuelleImpot.numeroQuittance"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label 
                               jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.datePaiement"
                               for="field_datePaiement">Date Paiement</label>
                        <div class="input-group">
                            <input id="field_datePaiement" type="text" class="form-control" name="datePaiement"
                                   ngbDatepicker #datePaiementDp="ngbDatepicker"
                                   [(ngModel)]="quittanceMensuelleImpot.datePaiement"
                            />
                            <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datePaiementDp.toggle()"><fa-icon
                                    [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label  jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.montantTotal" for="field_montantTotal">Montant Paye</label>
                    <input class="form-control numeric" name="montantTotal" id="field_montantTotal" [readOnly]="true" digitOnly
                           [ngModel]="quittanceMensuelleImpot.montantTotal | number:'1.3-3'" (ngModelChange)="quittanceMensuelleImpot.montantTotal=$event"/>
                </div>

                <br>
                <br>
                <ngb-tabset>
                    <ngb-tab
                            *ngFor="let quittanceMensuelleImpotDetail of quittanceMensuelleImpot.quittanceMensuelleImpotDetails; let i=index">
                        <ng-template ngbTabTitle>{{quittanceMensuelleImpotDetail.libelle}}
                            <span class="badge badge-pill badge-primary"
                                  *ngIf="quittanceMensuelleImpotDetail.montantTotal">{{quittanceMensuelleImpotDetail.montantTotal | number:'1.3-3'}}</span>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <br>
                            <quittance-mensuelle-impot-detail-list (updateMontantTotal)="updateMontantTotal($event)"
                                                                   *ngIf="quittanceMensuelleImpotDetail.childQuittanceMensuelleImpotDetails.length === 0"
                                                                   [indexDetail]="i"
                                                                   [quittanceMensuelleImpotDetail]="quittanceMensuelleImpotDetail">
                            </quittance-mensuelle-impot-detail-list>

                            <!--<div class="form-row" *ngIf="quittanceMensuelleImpotDetail.appliquerReportMontant">-->
                            <!--<label class="col-sm-2 col-form-label" jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.montantReport" for="field_montantReport">Montant Report</label>-->
                            <!--<div class="col-sm-3">-->
                            <!--<input type="number" class="form-control" name="quittanceMensuelleImpot.quittanceMensuelleImpotDetails[{{i}}].montantReport" id="field_montantReport" [readOnly]="true"-->
                            <!--[(ngModel)]="quittanceMensuelleImpot.quittanceMensuelleImpotDetails[i].montantReport" />-->
                            <!--</div>-->
                            <!--</div>-->
                            <!-- Childs -->
                            <quittance-mensuelle-impot-detail-calc-montant-total
                                    [quittanceMensuelleImpotDetail]="quittanceMensuelleImpotDetail">

                            </quittance-mensuelle-impot-detail-calc-montant-total>

                            <br>
                            <ngb-tabset
                                    *ngIf="quittanceMensuelleImpotDetail.childQuittanceMensuelleImpotDetails.length > 0">
                                <ngb-tab
                                        *ngFor="let childQuittanceMensuelleImpotDetail of quittanceMensuelleImpotDetail.childQuittanceMensuelleImpotDetails;let indexChildDetail = index;">
                                    <ng-template ngbTabTitle>
                                        <span>{{childQuittanceMensuelleImpotDetail.libelle}}</span>
                                        <span class="badge badge-pill badge-primary"
                                              *ngIf="childQuittanceMensuelleImpotDetail.montantTotal">{{childQuittanceMensuelleImpotDetail.montantTotal | number:'1.3-3'}}</span>
                                    </ng-template>
                                    <ng-template ngbTabContent>
                                        <quittance-mensuelle-impot-detail-list
                                                (updateMontantTotal)="updateMontantTotal($event)"
                                                [indexDetail]="indexChildDetail"
                                                [quittanceMensuelleImpotDetail]="childQuittanceMensuelleImpotDetail">
                                        </quittance-mensuelle-impot-detail-list>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
            <br>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
