<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-quittance-mensuelle-impot-heading" jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.home.createOrEditLabel">Create or edit a Quittance Mensuelle Impot</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!quittanceMensuelleImpot.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="quittanceMensuelleImpot.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.ficheClient" for="field_ficheClient">Fiche Client</label>
                    <select class="form-control" id="field_ficheClient" name="ficheClient" [(ngModel)]="quittanceMensuelleImpot.ficheClientId" (change)="initByParams()" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ficheClientOption.id" *ngFor="let ficheClientOption of ficheclients; trackBy: trackFicheClientById">{{ficheClientOption.designation}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.annee" for="field_annee">Annee</label>
                    <input type="number" class="form-control" name="annee" id="field_annee"
                        [(ngModel)]="quittanceMensuelleImpot.annee" required/>
                    <div [hidden]="!(editForm.controls.annee?.dirty && editForm.controls.annee?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.annee?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.annee?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.mois" for="field_mois">Mois</label>
                    <input type="number" class="form-control" name="mois" id="field_mois" (change)="initByParams()"
                        [(ngModel)]="quittanceMensuelleImpot.mois" required/>
                    <div [hidden]="!(editForm.controls.mois?.dirty && editForm.controls.mois?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.mois?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.mois?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.numeroQuittance" for="field_numeroQuittance">Numero Quittance</label>
                    <input type="text" class="form-control" name="numeroQuittance" id="field_numeroQuittance"
                        [(ngModel)]="quittanceMensuelleImpot.numeroQuittance" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.datePaiement" for="field_datePaiement">Date Paiement</label>
                    <div class="input-group">
                        <input id="field_datePaiement" type="text" class="form-control" name="datePaiement" ngbDatepicker  #datePaiementDp="ngbDatepicker" [(ngModel)]="quittanceMensuelleImpot.datePaiement"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datePaiementDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group" *ngFor="let quittanceMensuelleImpotLine of quittanceMensuelleImpot.quittanceMensuelleImpotLines">
                    <label class="form-control-label">{{quittanceMensuelleImpotLine.impotMensuelClient.impotMensuelLibelle}}</label>
                    <input type="number" class="form-control" name="quittanceMensuelleImpotLine.montantPaye" [disabled]="!quittanceMensuelleImpotLine.impotMensuelClient.applicable"
                           [(ngModel)]="quittanceMensuelleImpotLine.montantPaye" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.montantPaye" for="field_montantPaye">Montant Paye</label>
                    <input type="number" class="form-control" name="montantPaye" id="field_montantPaye"
                        [(ngModel)]="quittanceMensuelleImpot.montantPaye" />
                </div>

            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
