<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-quittance-mensuelle-impot-heading" jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.home.createOrEditLabel">Create or edit a Quittance Mensuelle Impot</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!quittanceMensuelleImpot.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="quittanceMensuelleImpot.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.ficheClient" for="field_ficheClient">Fiche Client</label>
                    <select class="form-control" id="field_ficheClient" name="ficheClient" [(ngModel)]="quittanceMensuelleImpot.ficheClientId" (change)="initByParams()" >
                        <option [ngValue]=""></option>
                        <option [ngValue]="ficheClientOption.id" *ngFor="let ficheClientOption of ficheClients; trackBy: trackFicheClientById">{{ficheClientOption.designation}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.typeDeclaration" for="field_typeDeclaration">Type déclaration</label>
                    <select required class="form-control" name="typeDeclaration" [(ngModel)]="quittanceMensuelleImpot.typeDeclaration" id="field_typeDeclaration" >
                        <option value="DECLARATION_INITIALE">{{'comptaDecisionApp.typeDeclaration.DECLARATION_INITIALE' | translate}}</option>
                        <option value="DECLARATION_RECTIFICATIVE">{{'comptaDecisionApp.typeDeclaration.DECLARATION_RECTIFICATIVE' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.typeDeclaration?.dirty && editForm.controls.typeDeclaration?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.typeDeclaration?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <app-annee [form]="editForm"  [model]="quittanceMensuelleImpot"></app-annee>

                <app-mois [form]="editForm" [model]="quittanceMensuelleImpot" (moisChange)="initByParams()"></app-mois>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.numeroQuittance" for="field_numeroQuittance">Numero Quittance</label>
                    <input type="text" class="form-control" name="numeroQuittance" id="field_numeroQuittance"
                        [(ngModel)]="quittanceMensuelleImpot.numeroQuittance" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.datePaiement" for="field_datePaiement">Date Paiement</label>
                    <div class="input-group">
                        <input id="field_datePaiement" type="text" class="form-control" name="datePaiement" ngbDatepicker  #datePaiementDp="ngbDatepicker" [(ngModel)]="quittanceMensuelleImpot.datePaiement"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datePaiementDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comptaDecisionApp.quittanceMensuelleImpot.montantTotal" for="field_montantTotal">Montant Paye</label>
                    <input type="number" class="form-control" name="montantTotal" id="field_montantTotal" [readOnly]="true"
                           [(ngModel)]="quittanceMensuelleImpot.montantTotal" />
                </div>

                <ngb-tabset>
                    <ngb-tab *ngFor="let quittanceMensuelleImpotDetail of quittanceMensuelleImpot.quittanceMensuelleImpotDetails;let i=index">
                        <ng-template ngbTabTitle>{{quittanceMensuelleImpotDetail.impotMensuel.libelle}}
                            <span class="badge badge-pill badge-primary" *ngIf="quittanceMensuelleImpotDetail.montantTotal">{{quittanceMensuelleImpotDetail.montantTotal}}</span>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <br>
                            <quittance-mensuelle-impot-detail-list *ngIf="quittanceMensuelleImpotDetail.childQuittanceMensuelleImpotDetails.length === 0" [indexDetail]="i" [quittanceMensuelleImpotDetail]="quittanceMensuelleImpotDetail">
                            </quittance-mensuelle-impot-detail-list>
                            <!-- Childs -->
                            <ngb-accordion #acc="ngbAccordion" *ngIf="quittanceMensuelleImpotDetail.childQuittanceMensuelleImpotDetails.length > 0">
                                <ngb-panel id="toggle-{{indexChilDetail}}"
                                           *ngFor="let childQuittanceMensuelleImpotDetail of quittanceMensuelleImpotDetail.childQuittanceMensuelleImpotDetails;let indexChilDetail = index;">
                                    <ng-template ngbPanelTitle>
                                        <span>{{childQuittanceMensuelleImpotDetail.libelle}}</span>
                                        <span class="badge badge-pill badge-primary" *ngIf="childQuittanceMensuelleImpotDetail.montantTotal">{{childQuittanceMensuelleImpotDetail.montantTotal}}</span>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <quittance-mensuelle-impot-detail-list [indexDetail]="indexChilDetail" [quittanceMensuelleImpotDetail]="childQuittanceMensuelleImpotDetail">
                                        </quittance-mensuelle-impot-detail-list>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
            <br>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
