<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="quittanceMensuelleImpotLine">
            <h2><span jhiTranslate="comptaDecisionApp.quittanceMensuelleImpotLine.detail.title">Quittance Mensuelle Impot Line</span> {{quittanceMensuelleImpotLine.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="comptaDecisionApp.quittanceMensuelleImpotLine.montantPaye">Montant Paye</span></dt>
                <dd>
                    <span>{{quittanceMensuelleImpotLine.montantPaye}}</span>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.quittanceMensuelleImpotLine.quittanceMensuelleImpot">Quittance Mensuelle Impot</span></dt>
                <dd>
                    <div *ngIf="quittanceMensuelleImpotLine.quittanceMensuelleImpotId">
                        <a [routerLink]="['/quittance-mensuelle-impot', quittanceMensuelleImpotLine.quittanceMensuelleImpotId, 'view']">{{quittanceMensuelleImpotLine.quittanceMensuelleImpotId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/quittance-mensuelle-impot-line', quittanceMensuelleImpotLine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
