<div>
    <h2 id="page-heading">
        <span jhiTranslate="comptaDecisionApp.categorieCnssGerant.home.title">Categorie CNSSs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-secteur-activite" [routerLink]="['/categorie-cnss-gerant/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="comptaDecisionApp.categorieCnssGerant.home.createLabel">
            Create new Categorie CNSS
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="categorieCnssGerants">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="comptaDecisionApp.categorieCnssGerant.code">Code</span></th>
            <th><span jhiTranslate="comptaDecisionApp.categorieCnssGerant.libelle">Libelle</span></th>
            <th><span jhiTranslate="comptaDecisionApp.categorieCnssGerant.montantCotisationCnss">Montant cotisation</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let categorieCnssGerant of categorieCnssGerants ;trackBy: trackId">
                <td><a [routerLink]="['/categorie-cnss-gerant', categorieCnssGerant.id, 'view' ]">{{categorieCnssGerant.id}}</a></td>
                <td>{{categorieCnssGerant.code}}</td>
                <td>{{categorieCnssGerant.libelle}}</td>
                <td>{{categorieCnssGerant.montantCotisationCnss}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/categorie-cnss-gerant', categorieCnssGerant.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/categorie-cnss-gerant', categorieCnssGerant.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'secteur-activite', { outlets: { popup: categorieCnssGerant.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
