<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate #editForm="ngForm">
            <h2 id="jhi-impot-annuel-heading" jhiTranslate="comptaDecisionApp.impotAnnuel.home.createOrEditLabel">Create
                or edit a Impot Annuel</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!impotAnnuel.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="impotAnnuel.id" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comptaDecisionApp.impotAnnuel.code"
                           for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           [(ngModel)]="impotAnnuel.code" required/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.code?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comptaDecisionApp.impotAnnuel.libelle"
                           for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                           [(ngModel)]="impotAnnuel.libelle" required/>
                    <div [hidden]="!(editForm.controls.libelle?.dirty && editForm.controls.libelle?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.libelle?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comptaDecisionApp.impotAnnuel.triOrdre"
                           for="field_libelle">Ordre de tri</label>
                    <input type="text" class="form-control" name="triOrdre" id="field_triOrdre"
                           [(ngModel)]="impotAnnuel.triOrdre" required/>
                    <div [hidden]="!(editForm.controls.triOrdre?.dirty && editForm.controls.triOrdre?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.triOrdre?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comptaDecisionApp.impotAnnuel.calcule" for="field_calcule">Montant calculé?</label>
                    <input id="field_calcule" name="calcule" type="checkbox" [(ngModel)]="impotAnnuel.calcule">
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comptaDecisionApp.impotAnnuel.montantNegatifAccepte" for="field_montantNegatifAccepte">Montant peut être négatif?</label>
                    <input id="field_montantNegatifAccepte" name="montantNegatifAccepte" type="checkbox" [(ngModel)]="impotAnnuel.montantNegatifAccepte">
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comptaDecisionApp.impotAnnuel.description"
                           for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           [(ngModel)]="impotAnnuel.description"/>
                </div>
                <div class="table-responsive" *ngIf="impotAnnuel.calcule">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th jhiTranslate="comptaDecisionApp.impotAnnuelLigne.impotMensuel">Impot Mensuel</th>
                            <th jhiTranslate="comptaDecisionApp.impotAnnuelLigne.coefficient">Coefficient</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td >
                                <select class="form-control" name="impotMensuelLigneId"  [(ngModel)]="impotAnnuelLigneNew.impotMensuelLigneId">
                                    <option  [ngValue]="impotMensuelLigne.id" *ngFor="let impotMensuelLigne of impotMensuelLignes">{{formatImpotMensuelLigneLibelle(impotMensuelLigne)}}</option>
                                </select>
<!--                                <ng-select id="field_region" name="impotMensuelLigneId" [(ngModel)]="impotAnnuelLigneNew.impotMensuelLigneId"-->
<!--                                           [items]="impotMensuelLignes"-->
<!--                                           bindLabel="{{formatImpotMensuelLigneLibelle(impotMensuelLigne)}}"-->
<!--                                           bindValue="id">-->
<!--                                </ng-select>-->
                            </td>
                            <td >
                                <input class="form-control"  name="coefficient" type="text" [(ngModel)]="impotAnnuelLigneNew.coefficient"/>
                            </td>
                            <td>
                                <button [title]="'entity.action.add'" type="button" id="add-impotAnnuelLigne" [disabled]="!isValidImpotAnnuelLigne(impotAnnuelLigneNew)" class="btn btn-primary" (click)="addImpotAnnuelLigne(impotAnnuelLigneNew)">
                                    <fa-icon [icon]="'plus'"></fa-icon>
                                </button>
                            </td>
                        </tr>
                        <tr *ngFor="let impotAnnuelLigne of impotAnnuel.impotAnnuelLignes;let i=index">
                            <td >
                                <select class="form-control" name="impotAnnuelLigne[{{i}}].impotMensuelLigneId"  [(ngModel)]="impotAnnuelLigne.impotMensuelLigneId">
                                    <option  [ngValue]="impotMensuelLigne.id" *ngFor="let impotMensuelLigne of impotMensuelLignes">{{formatImpotMensuelLigneLibelle(impotMensuelLigne)}}</option>
                                </select>
                            </td>
                            <td >
                                <input class="form-control" name="impotAnnuuelLigne[{{i}}].coefficient" type="text" [(ngModel)]="impotAnnuelLigne.coefficient"/>
                            </td>
                            <td>
<!--                                <button [title]="'entity.action.edit'" type="button" class="btn btn-warning" (click)="editImpotMensuelLigne(impotMensuelLigne, i)">-->
<!--                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>-->
<!--                                </button>-->
                                &nbsp;
                                <button [title]="'entity.action.delete'" type="button" class="btn btn-danger" (click)="deleteImpotAnnuelLigne(i)">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="button" (click)="save()" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
