<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col" style="width: 40px">
      <label  class="form-control-label"
              jhiTranslate="comptaDecisionApp.impotMensuelLigne.triOrdre" for="field_impotMensuelLigneCode">Num</label>
    </th>
    <th scope="col">
      <label  class="form-control-label"
              jhiTranslate="comptaDecisionApp.impotMensuelLigne.code" for="field_impotMensuelLigneCode">Code</label>
    </th>
    <th scope="col">
      <label  class="form-control-label"
              jhiTranslate="comptaDecisionApp.impotMensuelLigne.libelle" for="field_impotMensuelLigneLibelle">Libellé</label>
    </th>
    <th scope="col"  style="width: 150px">
      <label  class="form-control-label"
              jhiTranslate="comptaDecisionApp.impotMensuelLigne.valeur" for="field_impotMensuelLigneValeur">Valeur</label>
    </th>
    <th scope="col">
      <label  class="form-control-label"
              jhiTranslate="comptaDecisionApp.impotMensuelLigne.typeValeur" for="field_impotMensuelLigneTypeValeur">Type</label>
    </th>
    <th scope="col">
      <label  class="form-control-label"
              jhiTranslate="comptaDecisionApp.impotMensuelLigne.valeurModifiable" for="field_impotMensuelLigneTypeValeur">Modif.?</label>
    </th>
    <th scope="col">
      Actions
    </th>
  </tr>
  </thead>
  <tr>
    <td>
      <div class="form-group">
        <input disabled="disabled" type="text" class="form-control" name="impotMensuelLigneTriOrdre"
               id="field_impotMensuelLigneTriOrdre"
               [(ngModel)]="impotMensuelLigneNew.triOrdre"/>
      </div>
    </td>
    <td>
      <div class="form-group"  style="width: 160px">
        <input type="text" class="form-control" name="impotMensuelLigneCode"
               id="field_impotMensuelLigneCode"
               [(ngModel)]="impotMensuelLigneNew.code" [maxLength]="20"/>
      </div>
    </td>
    <td>
      <div class="form-group">
        <input type="text" class="form-control" name="impotMensuelLigneLibelle"
               id="field_impotMensuelLigneLibelle"
               [(ngModel)]="impotMensuelLigneNew.libelle" [maxLength]="255"/>
      </div>
    </td>
    <td>
      <div class="form-group">
        <input type="text" class="form-control" name="impotMensuelLigneValeur"
               id="field_impotMensuelLigneValeur"
               [(ngModel)]="impotMensuelLigneNew.valeur" [maxLength]="11"/>
      </div>
    </td>
    <td>
      <div class="form-group" style="width: 100px">
        <select required class="form-control" name="impotMensuelLigneTypeValeur" [(ngModel)]="impotMensuelLigneNew.typeValeur" id="field_impotMensuelLigneTypeValeur" >
          <option value=undefined></option>
          <option value="TAUX">{{'comptaDecisionApp.impotMensuelLigne.typeValeurTaux' | translate}}</option>
          <option value="MONTANT">{{'comptaDecisionApp.impotMensuelLigne.typeValeurMontant' | translate}}</option>
        </select>
      </div>
      <td style="text-align: center">
        <input  type="checkbox" name="impotMensuelLigneTypeValeurModifiable"
               id="field_impotMensuelLigneValeurModifiable"
               [(ngModel)]="impotMensuelLigneNew.valeurModifiable"/>
    </td>
    <td>
      <button [title]="'entity.action.add'" type="button" id="add-impotMensuelLigne" [disabled]="!isValidImpotMensuelLigne(impotMensuelLigneNew)" class="btn btn-primary" (click)="addImpotMensuelLigne(impotMensuelLigneNew)">
        <fa-icon [icon]="'plus'"></fa-icon>
      </button>
    </td>
  </tr>
  <tr *ngIf="impotMensuel.impotMensuelLignes && impotMensuel.impotMensuelLignes.length === 0">
    <td colspan="6" style="text-align: center;">Aucun détail défini</td>
  </tr>
  <tr *ngFor="let impotMensuelLigne of impotMensuel.impotMensuelLignes | orderBy: 'triOrdre';   let i = index">
    <td>
      {{impotMensuelLigne.triOrdre}}
    </td>
    <td>
      {{impotMensuelLigne.code}}
    </td>
    <td>
      {{impotMensuelLigne.libelle}}
    </td>
    <td>
      {{impotMensuelLigne.valeur}}
      {{ impotMensuelLigne.typeValeur === 'TAUX' ? '%' : ''}}
    </td>
    <td>
      {{impotMensuelLigne.typeValeur}}
    </td>
    <td>
      {{impotMensuelLigne.valeurModifiable}}
    </td>
    <td>
      <button [title]="'entity.action.edit'" type="button" class="btn btn-warning" (click)="editImpotMensuelLigne(impotMensuelLigne, i)">
        <fa-icon [icon]="'pencil-alt'"></fa-icon>
      </button>
      &nbsp;
      <button [title]="'entity.action.delete'" type="button" class="btn btn-danger" (click)="deleteImpotMensuelLigne(i)">
        <fa-icon [icon]="'times'"></fa-icon>
      </button>
    </td>
  </tr>
</table>
