<div>
    <h2 id="page-heading">
        <span *ngIf="isCurrentTypeCnssGerant" jhiTranslate="comptaDecisionApp.cnssGerant.home.title">CNSS</span>
        <span *ngIf="!isCurrentTypeCnssGerant" jhiTranslate="comptaDecisionApp.cnss.home.title">CNSS</span>
    </h2>
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <jhi-new-entry [hideTrimestre]="false" [hideTypeDeclarationCnss]="false" (submitCreationForm)="addCnss($event)"></jhi-new-entry>
    <br/>
    <br/>
    <div class="table-responsive" *ngIf="cnss">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="ficheClientficheClientDesignation"><span
                        jhiTranslate="comptaDecisionApp.cnss.ficheClient">Fiche Client</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>

<!--                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>-->
<!--                    <fa-icon [icon]="'sort'"></fa-icon>-->
<!--                </th>-->
<!--                <th jhiSortBy="typeCnss"><span jhiTranslate="comptaDecisionApp.cnss.typeCnss.libelle">Type CNSS</span>-->
<!--                    <fa-icon [icon]="'sort'"></fa-icon>-->
<!--                </th>-->
                <th jhiSortBy="typeCnss"><span jhiTranslate="comptaDecisionApp.cnss.typeDeclaration">Type déclaration</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="annee"><span jhiTranslate="comptaDecisionApp.cnss.annee">Annee</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="trimestre"><span jhiTranslate="comptaDecisionApp.cnss.trimestre">Trimestre</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="date"><span jhiTranslate="comptaDecisionApp.cnss.date">Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="numeroQuittance"><span jhiTranslate="comptaDecisionApp.cnss.numeroQuittance">Numero Quittance</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="montantCnssNormal" *ngIf="!isCurrentTypeCnssGerant"><span
                        jhiTranslate="comptaDecisionApp.cnss.montantCnssNormal">Montant Cnss Normal</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="montantCnssKarama" *ngIf="!isCurrentTypeCnssGerant"><span
                    jhiTranslate="comptaDecisionApp.cnss.montantCnssKarama">Montant Cnss Karama</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="montantPenalite"><span
                    jhiTranslate="comptaDecisionApp.cnss.montantPenalite">Montant Pénalité</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="montantTotal"><span jhiTranslate="comptaDecisionApp.cnss.montantTotal">Montant total</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cnss of cnss ;trackBy: trackId">
<!--                <td><a [routerLink]="['/cnss', cnss.id, 'view' ]">{{cnss.id}}</a></td>-->
                <td>
                    <div *ngIf="cnss.ficheClientId">
                        <a [routerLink]="['../fiche-client', cnss.ficheClientId , 'view' ]">{{cnss.ficheClientDesignation}}</a>
                    </div>
                </td>
<!--                <td jhiTranslate="{{'comptaDecisionApp.cnss.typeDeclaration' + cnss.typeCnss}}">{{cnss.typeCnss}}</td>-->
                <td jhiTranslate="{{'comptaDecisionApp.typeDeclaration.' + cnss.typeDeclaration}}">{{cnss.typeDeclaration}}</td>
                <td>{{cnss.annee}}</td>
                <td>Trimestre {{cnss.trimestre}}</td>
                <td>{{cnss.date | date:'mediumDate'}}</td>
                <td>{{cnss.numeroQuittance}}</td>
                <td class="numeric" *ngIf="!isCurrentTypeCnssGerant">{{cnss.montantCnssNormal | number:'1.3-3'}}</td>
                <td class="numeric" *ngIf="!isCurrentTypeCnssGerant">{{cnss.montantCnssKarama | number:'1.3-3'}}</td>
                <td class="numeric" >{{cnss.montantPenalite | number:'1.3-3'}}</td>
                <td class="numeric">{{cnss.montantTotalCnss | number:'1.3-3'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/cnss', cnss.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cnss', cnss.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'cnss', { outlets: { popup: cnss.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="cnss && cnss.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
