<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate #editForm="ngForm">
            <h2 id="jhi-cnss-heading"       [jhiTranslate]="'comptaDecisionApp.' + (isTypeCnssGerant ? 'cnssGerant' : 'cnss') + '.home.createOrEditLabel'">
                Create or edit a Cnss</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <jhi-business-alert [businessAlerts]="cnss.businessAlerts"></jhi-business-alert>
                <div class="form-row">
                    <input [hidden]="true" type="text" class="form-control" id="id" name="id" [(ngModel)]="cnss.id"/>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label jhiTranslate="comptaDecisionApp.cnss.ficheClient"
                               for="field_ficheClient">Fiche Client</label>
                        <input [disabled]="true" type="text" class="form-control" name="ficheClient"
                               id="field_ficheClient"
                               [(ngModel)]="cnss.ficheClientDesignation"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label jhiTranslate="comptaDecisionApp.cnss.annee"
                               for="field_annee">Annee</label>
                        <input [disabled]="true" type="text" class="form-control" name="annee" id="field_annee"
                               [(ngModel)]="cnss.annee"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="form-control-label" jhiTranslate="comptaDecisionApp.cnss.trimestre"
                               for="field_trimestre">Trimestre</label>
                        <select [disabled]="true" class="form-control" id="field_trimestre" name="trimestre"
                                [(ngModel)]="cnss.trimestre">
                            <option [ngValue]="trimestreOption.id"
                                    *ngFor="let trimestreOption of trimestres;">{{trimestreOption.libelle}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="comptaDecisionApp.cnss.numeroQuittance"
                               for="field_numeroQuittance">Numero Quittance</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="numeroQuittance" id="field_numeroQuittance"
                                   [(ngModel)]="cnss.numeroQuittance"/>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="comptaDecisionApp.cnss.date" for="field_date">Date</label>
                        <div class="input-group">
                            <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker
                                   #dateDp="ngbDatepicker" [(ngModel)]="cnss.date"
                            />
                            <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                        </div>
                    </div>
                </div>

                <h3 jhiTranslate="comptaDecisionApp.declarationAnnuelle.home.tableTitle">Saisie des montants
                    de la déclaration</h3>
                <br>
                <div *ngIf="isTypeCnssGerant" class="form-group row">
                    <label jhiTranslate="comptaDecisionApp.cnss.montantCnssGerant"
                           class="col-sm-2 col-form-label"
                           for="field_categorieCnssGerantMontant">Montant Cnss Gerant</label>
                    <div class="col-sm-10">
                    <input [disabled]="true" jhiDigitOnly [decimal]="true" class="form-control numeric"
                           id="field_categorieCnssGerantMontant"
                           name="categorieCnssGerantMontant"
                           [(ngModel)]="cnss.categorieCnssGerantMontant"/>
                    </div>
                </div>
                <div *ngIf="isTypeCnssGerant" class="form-group row">
                    <label jhiTranslate="comptaDecisionApp.cnss.montantPenalite"
                           class="col-sm-2 col-form-label"
                           for="field_montantPenaliteGerant">Pénalité</label>
                    <div class="col-sm-10">
                        <input jhiDigitOnly [decimal]="true" class="form-control numeric"
                               name="montantPenalite" id="field_montantPenaliteGerant"
                               [(ngModel)]="cnss.montantPenalite" (change)="calculerMontant()"/>
                    </div>
                </div>

                <div *ngIf="isTypeCnssGerant" class="form-group row">
                    <label jhiTranslate="comptaDecisionApp.cnssGerant.montantTotal"
                           class="col-sm-2 col-form-label"
                           for="field_montantTotalCnssGerant">Montant total</label>
                    <div class="col-sm-10">
                        <input [disabled]="true" jhiDigitOnly [decimal]="true" class="form-control numeric"
                               name="montantTotalCnss" id="field_montantTotalCnssGerant"
                               [(ngModel)]="cnss.montantTotalCnss"/>
                    </div>
                </div>

                <table *ngIf="!isTypeCnssGerant" class="table table-hover">
                    <tbody>
                    <tr>
                        <th></th>
                        <th>Taux CNSS</th>
                        <th>Taux Accident</th>
                        <th>Salaire</th>
                        <th>Cnss</th>
                    </tr>
                    <tr>
                        <th>
                            <label class="form-control-label"
                                   jhiTranslate="comptaDecisionApp.cnss.montantSalaireBrutNormal"
                                   for="field_montantSalaireBrutNormal">Montant Salaire Brut Normal</label>
                        </th>
                        <td>
                            <div class="input-group mb-3">
                            <input [disabled]="true" jhiDigitOnly [decimal]="true" class="form-control numeric"
                                   name="tauxCnssNormal" id="tauxCnssNormal_field"
                                   [(ngModel)]="cnss.tauxCnssNormal"/>
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <input [disabled]="true" jhiDigitOnly [decimal]="true" class="form-control numeric"
                                       name="tauxCnssNormalAccident" id="tauxCnssNormalAccident_field"
                                       [(ngModel)]="cnss.tauxCnssNormalAccident"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input jhiDigitOnly [decimal]="true" class="form-control numeric"
                                   name="montantSalaireBrutNormal" id="field_montantSalaireBrutNormal"
                                   [(ngModel)]="cnss.montantSalaireBrutNormal" (change)="calculerMontant()"/>
                        </td>
                        <td>
                            <input jhiDigitOnly [decimal]="true" class="form-control numeric"
                                   name="montantCnssNormal" id="field_montantCnssNormal"
                                   [(ngModel)]="cnss.montantCnssNormal" [disabled]="true"/>
                            <small class="form-text text-info">
                                Taux appliqué: {{cnss.totalTauxCnssNormal}}%
                            </small>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="form-control-label"
                                   jhiTranslate="comptaDecisionApp.cnss.montantSalaireBrutKarama"
                                   for="field_montantSalaireBrutKarama">Montant Salaire Brut Karama</label>
                        </th>
                        <td>
                            <div class="input-group mb-3">
                                <input jhiDigitOnly [decimal]="true" class="form-control numeric"
                                       name="totalTauxCnssKarama" id="field_totalTauxCnssKarama"
                                       [(ngModel)]="cnss.tauxCnssKarama" [disabled]="true"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <input [disabled]="true" jhiDigitOnly [decimal]="true" class="form-control numeric"
                                       name="tauxCnssKaramaAccident" id="tauxCnssKaramaAccident_field"
                                       [(ngModel)]="cnss.tauxCnssKaramaAccident"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input jhiDigitOnly [decimal]="true" class="form-control numeric"
                                   name="montantSalaireBrutKarama" id="field_montantSalaireBrutKarama"
                                   [(ngModel)]="cnss.montantSalaireBrutKarama" (change)="calculerMontant()"/>
                        </td>
                        <td>
                            <input jhiDigitOnly [decimal]="true" class="form-control numeric" name="montantCnssKarama"
                                   id="field_montantCnssKarama"
                                   [(ngModel)]="cnss.montantCnssKarama" [disabled]="true"/>
                            <small class="form-text text-info">
                                Taux appliqué: {{cnss.totalTauxCnssKarama}}%
                            </small>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="form-control-label" jhiTranslate="comptaDecisionApp.cnss.montantPenalite"
                                   for="field_montantPenalite">Montant pénalite</label>
                        </th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <input jhiDigitOnly [decimal]="true" class="form-control numeric"
                                   name="montantPenalite"
                                   [(ngModel)]="cnss.montantPenalite" (change)="calculerMontant()"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="form-control-label" jhiTranslate="comptaDecisionApp.cnss.montantTotal"
                                   for="field_montantTotalCnss">Montant total</label>
                        </th>
                        <td></td>
                        <td></td>
                        <td><input [disabled]="true" jhiDigitOnly [decimal]="true" class="form-control numeric"
                                   name="montantTotalSalaireBrut" id="field_montantTotalSalaireBrut"
                                   [(ngModel)]="cnss.montantTotalSalaireBrut"/></td>

                        <td>
                            <input [disabled]="true" jhiDigitOnly [decimal]="true" class="form-control numeric"
                                   name="montantTotalCnss" id="field_montantTotalCnss"
                                   [(ngModel)]="cnss.montantTotalCnss"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="button" (click)="save()" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
