<div>
    <h2 id="page-heading">
        <span jhiTranslate="comptaDecisionApp.impotMensuelClient.home.title">Impot Mensuel Clients</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-impot-mensuel-client" [routerLink]="['/impot-mensuel-client/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="comptaDecisionApp.impotMensuelClient.home.createLabel">
            Create new Impot Mensuel Client
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="impotMensuelClients">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mois"><span jhiTranslate="comptaDecisionApp.impotMensuelClient.mois">Mois</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="applicable"><span jhiTranslate="comptaDecisionApp.impotMensuelClient.applicable">Applicable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ficheClientId"><span jhiTranslate="comptaDecisionApp.impotMensuelClient.ficheClient">Fiche Client</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="impotMensuelId"><span jhiTranslate="comptaDecisionApp.impotMensuelClient.impotMensuel">Impot Mensuel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quittanceMensuelleImpotLineId"><span jhiTranslate="comptaDecisionApp.impotMensuelClient.quittanceMensuelleImpotLine">Quittance Mensuelle Impot Line</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let impotMensuelClient of impotMensuelClients ;trackBy: trackId">
                <td><a [routerLink]="['/impot-mensuel-client', impotMensuelClient.id, 'view' ]">{{impotMensuelClient.id}}</a></td>
                <td>{{impotMensuelClient.mois}}</td>
                <td>{{impotMensuelClient.applicable}}</td>
                <td>
                    <div *ngIf="impotMensuelClient.ficheClientId">
                        <a [routerLink]="['../fiche-client', impotMensuelClient.ficheClientId , 'view' ]" >{{impotMensuelClient.ficheClientId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="impotMensuelClient.impotMensuelId">
                        <a [routerLink]="['../impot-mensuel', impotMensuelClient.impotMensuelId , 'view' ]" >{{impotMensuelClient.impotMensuelId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="impotMensuelClient.quittanceMensuelleImpotLineId">
                        <a [routerLink]="['../quittance-mensuelle-impot-line', impotMensuelClient.quittanceMensuelleImpotLineId , 'view' ]" >{{impotMensuelClient.quittanceMensuelleImpotLineId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/impot-mensuel-client', impotMensuelClient.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/impot-mensuel-client', impotMensuelClient.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'impot-mensuel-client', { outlets: { popup: impotMensuelClient.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="impotMensuelClients && impotMensuelClients.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
