<div>
    <h2 id="page-heading">
        <span jhiTranslate="comptaDecisionApp.centreAdministratif.home.title">Centre Administratifs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-centre-administratif" [routerLink]="['/centre-administratif/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="comptaDecisionApp.centreAdministratif.home.createLabel">
            Create new Centre Administratif
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="centreAdministratifs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="comptaDecisionApp.centreAdministratif.type">Type</span></th>
            <th><span jhiTranslate="comptaDecisionApp.centreAdministratif.libelle">Libelle</span></th>
<!--            <th><span jhiTranslate="comptaDecisionApp.centreAdministratif.description">Description</span></th>-->
            <th><span jhiTranslate="comptaDecisionApp.centreAdministratif.telephone1">Téléphone 1</span></th>
<!--            <th><span jhiTranslate="comptaDecisionApp.centreAdministratif.telephone2">Téléphone 2</span></th>-->
<!--            <th><span jhiTranslate="comptaDecisionApp.centreAdministratif.telephone3">Téléphone 3</span></th>-->
<!--                <th><span jhiTranslate="comptaDecisionApp.centreAdministratif.email1">Email 1</span></th>-->
<!--                <th><span jhiTranslate="comptaDecisionApp.centreAdministratif.email2">Email 2</span></th>-->
<!--                <th><span jhiTranslate="comptaDecisionApp.centreAdministratif.email3">Email 3</span></th>-->
                <th><span jhiTranslate="comptaDecisionApp.centreAdministratif.fax">Fax</span></th>
                <th><span jhiTranslate="comptaDecisionApp.centreAdministratif.adresse">Adresse</span></th>
                <th><span jhiTranslate="comptaDecisionApp.centreAdministratif.region">Region</span></th>
                <th><span jhiTranslate="comptaDecisionApp.centreAdministratif.ville">Ville</span></th>
                <th><span jhiTranslate="comptaDecisionApp.centreAdministratif.codePostal">Code Postal</span></th>
<!--                <th><span jhiTranslate="comptaDecisionApp.centreAdministratif.banque">Banque</span></th>-->
<!--                <th><span jhiTranslate="comptaDecisionApp.centreAdministratif.rib">RIB</span></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let centreAdministratif of centreAdministratifs ;trackBy: trackId">
                <td><a [routerLink]="['/centre-administratif', centreAdministratif.id, 'view' ]">{{centreAdministratif.id}}</a></td>
                <td>{{centreAdministratif.type}}</td>
                <td>{{centreAdministratif.libelle}}</td>
<!--                <td>{{centreAdministratif.description}}</td>-->
                <td>{{centreAdministratif.telephone1}}</td>
<!--                <td>{{centreAdministratif.telephone2}}</td>-->
<!--                <td>{{centreAdministratif.telephone3}}</td>-->
<!--                <td>{{centreAdministratif.email1}}</td>-->
<!--                <td>{{centreAdministratif.email2}}</td>-->
<!--                <td>{{centreAdministratif.email3}}</td>-->
                <td>{{centreAdministratif.fax}}</td>
                <td>{{centreAdministratif.regionLibelle}}</td>
                <td>{{centreAdministratif.villeLibelle}}</td>
                <td>{{centreAdministratif.codePostal}}</td>
<!--                <td>{{centreAdministratif.banque}}</td>-->
<!--                <td>{{centreAdministratif.rib}}</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/centre-administratif', centreAdministratif.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/centre-administratif', centreAdministratif.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'centre-administratif', { outlets: { popup: centreAdministratif.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
