<div class="panel panel-default"
     *ngIf="quittanceMensuelleLigne.childQuittanceMensuelleLignes.length > 0">
    <div class="panel-body">
        <form>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="field_montantReport">Montant Report</label>
                <div class="col-sm-4">
                    <input jhiDigitOnly [decimal]="true" type="text" class="form-control numeric" name="montantReport"
                           id="field_montantReport"
                           [(ngModel)]="quittanceMensuelleLigne.montantReport" (change)="onChangeMontantReport()"
                           aria-label="" aria-describedby="basic-report"/>
                    <div >
                        <small class="form-text text-info">
                        Le montant report calculé est de {{quittanceMensuelleLigne.montantReportCalc}}
                        </small>
                    </div>
                </div>
            </div>
        </form>
        <div class="alert alert-warning" role="alert" [hidden]="!isMontantReportChanged()">
            Alerte! Le montant du report a été modifié par rapport à celui calculé
        </div>
    </div>
</div>


