<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-acompte-provisionnel-heading" jhiTranslate="comptaDecisionApp.acompteProvisionnel.home.createOrEditLabel">Create or edit a Acompte Provisionnel</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <input type="text" class="form-control" id="id" name="id"
                       [(ngModel)]="acompteProvisionnel.id" [hidden]="true" />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.acompteProvisionnel.ficheClient"
                               for="field_ficheClient">Fiche Client</label>
                        <input [disabled]="true" type="text" class="form-control" name="ficheClient"
                               id="field_ficheClient"
                               [(ngModel)]="acompteProvisionnel.ficheClientDesignation"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="comptaDecisionApp.acompteProvisionnel.annee" for="field_annee">Annee</label>
                        <input [disabled]="true" class="form-control" name="annee" id="field_annee"
                               [(ngModel)]="acompteProvisionnel.annee" required/>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label
                            jhiTranslate="comptaDecisionApp.declarationAnnuelle.typeDeclaration"
                            for="field_type">Type déclaration</label>
                        <select [disabled]="true" required class="form-control" name="type"
                                [(ngModel)]="acompteProvisionnel.type" id="field_type">
                            <option
                                value="DECLARATION_INITIALE">{{'comptaDecisionApp.typeDeclaration.DECLARATION_INITIALE' | translate}}</option>
                            <option
                                value="DECLARATION_RECTIFICATIVE">{{'comptaDecisionApp.typeDeclaration.DECLARATION_RECTIFICATIVE' | translate}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="comptaDecisionApp.acompteProvisionnel.numero"
                               for="field_numero">Numero</label>

                        <select [disabled]="true" required class="form-control" id="field_numero" name="numero"
                                [(ngModel)]="acompteProvisionnel.numero">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="comptaDecisionApp.acompteProvisionnel.date"
                               for="field_date">Date</label>
                        <div class="input-group">
                            <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker
                                   #dateDp="ngbDatepicker" [(ngModel)]="acompteProvisionnel.date"
                            />
                            <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label"
                               jhiTranslate="comptaDecisionApp.acompteProvisionnel.numeroQuittance"
                               for="field_numeroQuittance">Numero Quittance</label>
                        <input type="text" class="form-control" name="numeroQuittance" id="field_numeroQuittance"
                               [(ngModel)]="acompteProvisionnel.numeroQuittance"/>
                    </div>
                </div>

                <h3 jhiTranslate="comptaDecisionApp.declarationAnnuelle.home.tableTitle">Saisie des montants
                    de la déclaration</h3>
                <br>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th><label class="form-control-label" jhiTranslate="comptaDecisionApp.acompteProvisionnel.montantBase"
                                   for="field_montantBase">Montant Base</label>
                        </th>
                        <td><input jhiDigitOnly [decimal]="true" class="numeric form-control" name="montantBase" id="field_montantBase"
                                   [(ngModel)]="acompteProvisionnel.montantBase" (change)="calculerMontants()"/></td>
                    </tr>
                    <tr>
                        <th><label class="form-control-label" jhiTranslate="comptaDecisionApp.acompteProvisionnel.montantAcompteProvisionnel"
                                   for="field_montantAcompteProvisionnel">Montant Acompte Provisionnel</label>
                        </th>
                        <td><input jhiDigitOnly [decimal]="true" class="numeric form-control" name="montantAcompteProvisionnel" id="field_montantAcompteProvisionnel"
                                   [(ngModel)]="acompteProvisionnel.montantAcompteProvisionnel" [disabled]="true"/></td>
                    </tr>
                    <tr>
                        <th><label class="form-control-label" jhiTranslate="comptaDecisionApp.acompteProvisionnel.montantReportAnterieur"
                                   for="field_montantReportAnterieur">Montant Report Anterieur</label>
                        </th>
                        <td><input jhiDigitOnly [decimal]="true" class="numeric form-control" name="montantReportAnterieur" id="field_montantReportAnterieur"
                                   [(ngModel)]="acompteProvisionnel.montantReportAnterieur" [disabled]="true"/></td>
                    </tr>
                    <tr>
                        <th><label class="form-control-label" jhiTranslate="comptaDecisionApp.acompteProvisionnel.montantRetenueSource"
                                   for="field_montantRetenueSource">Montant Retenue Source</label>
                        </th>
                        <td><input jhiDigitOnly [decimal]="true" class="numeric form-control" name="montantRetenueSource" id="field_montantRetenueSource"
                                   [(ngModel)]="acompteProvisionnel.montantRetenueSource" (change)="calculerMontants()"/></td>
                    </tr>
                    <tr>
                        <th><label class="form-control-label" jhiTranslate="comptaDecisionApp.acompteProvisionnel.montantNet"
                                   for="field_montantNet">Montant Net</label>
                        </th>
                        <td><input jhiDigitOnly [decimal]="true" class="numeric form-control" name="montantNet" id="field_montantNet"
                                   [(ngModel)]="acompteProvisionnel.montantNet" [disabled]="true" /></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
