<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="applicationUser">
            <h2><span jhiTranslate="comptaDecisionApp.applicationUser.detail.title">Application User</span> {{applicationUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="comptaDecisionApp.applicationUser.matricule">Matricule</span></dt>
                <dd>
                    <span>{{applicationUser.matricule}}</span>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.applicationUser.poste">Poste</span></dt>
                <dd>
                    <span>{{applicationUser.poste}}</span>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.applicationUser.dateEmbauche">Date Embauche</span></dt>
                <dd>
                    <span>{{applicationUser.dateEmbauche}}</span>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.applicationUser.cabinetComptable">Cabinet Comptable</span></dt>
                <dd>
                    <div *ngIf="applicationUser.cabinetComptableId">
                        <a [routerLink]="['/cabinet-comptable', applicationUser.cabinetComptableId, 'view']">{{applicationUser.cabinetComptableCode}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/application-user', applicationUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
