<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-fiche-client-heading" jhiTranslate="comptaDecisionApp.ficheClient.home.createOrEditLabel">Create
                or edit a Fiche Client</h2>
            <div>
                <br>
                <br>
                <jhi-alert-error></jhi-alert-error>
                <input [hidden]="true" type="text" class="form-control" id="id" name="id"
                       [(ngModel)]="ficheClient.id" readonly/>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.categorieClient" for="field_categorieClient">Categorie
                            Client</label>
                        <select required class="form-control" name="categorieClient"
                                [(ngModel)]="ficheClient.categorieClient" id="field_categorieClient">
                            <option
                                value="PERSONNE_PHYSIQUE">{{'comptaDecisionApp.CategorieClient.PERSONNE_PHYSIQUE' | translate}}</option>
                            <option
                                value="PERSONNE_MORALE">{{'comptaDecisionApp.CategorieClient.PERSONNE_MORALE' | translate}}</option>
                        </select>
                        <div
                            [hidden]="!(editForm.controls.categorieClient?.dirty && editForm.controls.categorieClient?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.categorieClient?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.designation" for="field_designation">Designation</label>
                        <input type="text" class="form-control" name="designation" id="field_designation"
                               [(ngModel)]="ficheClient.designation" required/>
                        <div
                            [hidden]="!(editForm.controls.designation?.dirty && editForm.controls.designation?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.designation?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>
                <!--<div class="form-row">-->
                <!--<label jhiTranslate="comptaDecisionApp.ficheClient.logo" for="field_logo">Logo</label>-->
                <!--<div>-->
                <!--<img [src]="'data:' + ficheClient.logoContentType + ';base64,' + ficheClient.logo" style="max-height: 100px;" *ngIf="ficheClient.logo" alt="ficheClient image"/>-->
                <!--<div *ngIf="ficheClient.logo" class="form-text text-danger clearfix">-->
                <!--<span class="pull-left">{{ficheClient.logoContentType}}, {{byteSize(ficheClient.logo)}}</span>-->
                <!--<button type="button" (click)="clearInputImage('logo', 'logoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">-->
                <!--<fa-icon [icon]="'times'"></fa-icon>-->
                <!--</button>-->
                <!--</div>-->
                <!--<input type="file" id="file_logo" (change)="setFileData($event, ficheClient, 'logo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>-->
                <!--</div>-->
                <!--<input type="hidden" class="form-control" name="logo" id="field_logo"-->
                <!--[(ngModel)]="ficheClient.logo" />-->
                <!--<input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"-->
                <!--[(ngModel)]="ficheClient.logoContentType" />-->
                <!--</div>-->
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.adresse" for="field_adresse">Adresse</label>
                        <input type="text" class="form-control" name="adresse" id="field_adresse"
                               [(ngModel)]="ficheClient.adresse" required/>
                        <div [hidden]="!(editForm.controls.adresse?.dirty && editForm.controls.adresse?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.adresse?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.region" for="field_region">Region</label>
                        <ng-select id="field_region" name="region" [(ngModel)]="ficheClient.regionId"
                                   [items]="regions$ | async "
                                   bindLabel="libelle"
                                   bindValue="id"
                                    (change)="findVille()">
                        </ng-select>
                    </div>
                    <div class="form-group col-md-5">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.ville" for="field_ville">Ville</label>
                        <ng-select id="field_ville" name="ville" [(ngModel)]="ficheClient.villeId"
                                   [disabled]="!ficheClient.regionId"
                                   [items]="villes$ | async"
                                   bindLabel="libelle"
                                   bindValue="id">
                        </ng-select>
                    </div>
                    <div class="form-group col-md-2">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.codePostal" for="field_codePostal">Code
                            Postal</label>
                        <input class="form-control" type="text" class="form-control" name="codePostal" id="field_codePostal"
                               [(ngModel)]="ficheClient.codePostal" required maxlength="5"/>
                        <div [hidden]="!(editForm.controls.codePostal?.dirty && editForm.controls.codePostal?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.codePostal?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.telephone"
                               for="field_telephone">Telephone</label>
                        <input type="text" class="form-control" name="telephone" id="field_telephone"
                               [(ngModel)]="ficheClient.telephone"/>
                    </div>
                    <div class="form-group col-md-3">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.fax" for="field_fax">Fax</label>
                        <input type="text" class="form-control" name="fax" id="field_fax"
                               [(ngModel)]="ficheClient.fax"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.email" for="field_email">Email</label>
                        <input type="text" class="form-control" name="email" id="field_email"
                               [(ngModel)]="ficheClient.email"/>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.matriculeFiscale"
                               for="field_matriculeFiscale">Matricule Fiscale</label>
                        <input type="text" class="form-control" name="matriculeFiscale" id="field_matriculeFiscale"
                               [(ngModel)]="ficheClient.matriculeFiscale" required maxlength="8" pattern="\d\d\d\d\d\d\d[A-Z]"/>

                        <div
                            [hidden]="!(editForm.controls.matriculeFiscale?.dirty && editForm.controls.matriculeFiscale?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.matriculeFiscale?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.matriculeFiscale?.errors?.maxbytes"
                                   jhiTranslate="entity.validation.maxbytes" [translateValues]="{min: 8}">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.matriculeFiscale?.errors?.pattern"
                                   jhiTranslate="entity.validation.pattern" [translateValues]="{pattern: 'Sept chiffres et une lettre'}">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.codeTVA"
                               for="field_codeTva">Code TVA</label>
                        <ng-select id="field_codeTva" name="codeTva" [(ngModel)]="ficheClient.codeTva" required
                                   [items]="['A', 'N', 'B', 'P']">
                        </ng-select>
                        <div
                            [hidden]="!(editForm.controls.codeTva?.dirty && editForm.controls.codeTva?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.codeTva?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.categorieActivite"
                               for="field_categorieActivite">Catégorie Activité</label>
                        <ng-select id="field_categorieActivite" name="categorieActivite"
                                   [(ngModel)]="ficheClient.categorieActivite" required
                                   [items]="['M', 'P', 'C']">
                        </ng-select>
                        <div
                            [hidden]="!(editForm.controls.categorieActivite?.dirty && editForm.controls.categorieActivite?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.categorieActivite?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.numeroEtablissementSecondaire"
                               for="field_matriculeFiscale">N° Etab. Secondaire</label>
                        <input type="text" class="form-control" name="numeroEtablissementSecondaire"
                               id="numeroEtablissementSecondaire" maxlength="3"
                               [(ngModel)]="ficheClient.numeroEtablissementSecondaire" pattern="\d\d\d" required/>
                        <div
                            [hidden]="!(editForm.controls.numeroEtablissementSecondaire?.dirty && editForm.controls.numeroEtablissementSecondaire?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.numeroEtablissementSecondaire?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.numeroEtablissementSecondaire?.errors?.pattern"
                               jhiTranslate="entity.validation.pattern" [translateValues]="{pattern: '3 Chiffres'}">
                            This field is required.
                        </small>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.registreCommerce"
                               for="field_registreCommerce">Registre Commerce</label>
                        <input type="text" class="form-control" name="registreCommerce" id="field_registreCommerce"
                               [(ngModel)]="ficheClient.registreCommerce"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.dateCreation" for="field_dateCreation">Date
                            Creation</label>
                        <div class="input-group">
                            <input id="field_dateCreation" required type="text" class="form-control"
                                   name="dateCreation"
                                   ngbDatepicker #dateCreationDp="ngbDatepicker"
                                   [(ngModel)]="ficheClient.dateCreation"
                            />
                            <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateCreationDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.cnssEmployeur" for="field_cnssEmployeur">Cnss
                            Employeur</label>
                        <input type="text" class="form-control" name="cnssEmployeur" id="field_cnssEmployeur"
                               [(ngModel)]="ficheClient.cnssEmployeur" pattern="\d\d\d\d\d\d-\d\d"/>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.cnssEmployeur?.errors?.pattern"
                               jhiTranslate="entity.validation.pattern" [translateValues]="{pattern: '6 chiffres, tiret et 2 lettres'}">
                            This field is required.
                        </small>
                    </div>
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.cnssGerant" for="field_cnssGerant">Cnss
                            Gerant</label>
                        <input type="text" class="form-control" name="cnssGerant" id="field_cnssGerant"
                               [(ngModel)]="ficheClient.cnssGerant" pattern="\d\d\d\d\d\d\d\d-\d\d"/>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.cnssGerant?.errors?.pattern"
                               jhiTranslate="entity.validation.pattern" [translateValues]="{pattern: '8 chiffres, tiret et 2 lettres'}">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.tauxCnssAccident"
                               for="field_tauxCnssAccident">Taux CNSS accident
                            Gerant</label>
                        <div class="input-group mb-3">
                            <input jhiDigitOnly [decimal]="true" type="text"
                                   name="tauxCnssNormalAccident" id="field_tauxCnssAccident"
                                   class="form-control numeric" placeholder="Recipient's username"
                                   [(ngModel)]="ficheClient.tauxCnssAccident" (change)="formatDecimalFields()"
                                   aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.categorieCnssGerant"
                               for="field_tauxCnssAccident">Cetagorie CNSS Gérant</label>
                        <ng-select required="" id="field_categorieCnssGerant" name="field_categorieCnssGerantId"
                                   [(ngModel)]="ficheClient.categorieCnssGerantId"
                                   [items]="categorieCnssGerants$ | async"
                                   bindLabel="libelle"
                                   bindValue="id">
                        </ng-select>
                    </div>
                </div>
                <!--<div class="form-row">-->
                <!--<label jhiTranslate="comptaDecisionApp.ficheClient.fichierPatente" for="field_fichierPatente">Fichier Patente</label>-->
                <!--<div>-->
                <!--<div *ngIf="ficheClient.fichierPatente" class="form-text text-danger clearfix">-->
                <!--<a class="pull-left" (click)="openFile(ficheClient.fichierPatenteContentType, ficheClient.fichierPatente)" jhiTranslate="entity.action.open">open</a><br>-->
                <!--<span class="pull-left">{{ficheClient.fichierPatenteContentType}}, {{byteSize(ficheClient.fichierPatente)}}</span>-->
                <!--<button type="button" (click)="ficheClient.fichierPatente=null;ficheClient.fichierPatenteContentType=null;"-->
                <!--class="btn btn-secondary btn-xs pull-right">-->
                <!--<fa-icon [icon]="'times'"></fa-icon>-->
                <!--</button>-->
                <!--</div>-->
                <!--<input type="file" id="file_fichierPatente" (change)="setFileData($event, ficheClient, 'fichierPatente', false)" jhiTranslate="entity.action.addblob"/>-->
                <!--</div>-->
                <!--<input type="hidden" class="form-control" name="fichierPatente" id="field_fichierPatente"-->
                <!--[(ngModel)]="ficheClient.fichierPatente" />-->
                <!--<input type="hidden" class="form-control" name="fichierPatenteContentType" id="field_fichierPatenteContentType"-->
                <!--[(ngModel)]="ficheClient.fichierPatenteContentType" />-->
                <!--</div>-->

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.secteurActivite1"
                               for="field_secteurActivite1">Secteur
                            Activite1</label>
                        <ng-select required="" id="field_secteurActivite1" name="secteurActivite1"
                                   [(ngModel)]="ficheClient.secteurActivite1Id"
                                   [items]="secteuractivites$ | async"
                                   bindLabel="libelle"
                                   bindValue="id"
                                    (change)="findActivites1()">
                        </ng-select>
                        <div
                            [hidden]="!(editForm.controls.secteurActivite1?.dirty && editForm.controls.secteurActivite1?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.secteurActivite1?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.activite1"
                               for="field_activite1">Activite 1</label>
                        <ng-select required="" id="field_activite1" name="activite1"
                                   [(ngModel)]="ficheClient.activite1Id"
                                   [items]="activites1$ | async"
                                   bindLabel="libelle"
                                   bindValue="id">
                        </ng-select>
                        <div
                            [hidden]="!(editForm.controls.activite1?.dirty && editForm.controls.activite1?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.activite1?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.secteurActivite2"
                               for="field_secteurActivite2">Secteur
                            Activite 2</label>
                        <ng-select id="field_secteurActivite2" name="secteurActivite2"
                                   [(ngModel)]="ficheClient.secteurActivite2Id"
                                   [items]="secteuractivites$ | async"
                                   bindLabel="libelle"
                                   bindValue="id"
                                   (change)="findActivites2()">
                        </ng-select>
                    </div>
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.activite2"
                               for="field_activite2">Activite 2</label>
                        <ng-select id="field_activite2" name="activite2" [(ngModel)]="ficheClient.activite2Id"
                                   [items]="activites2$ | async"
                                   bindLabel="libelle"
                                   bindValue="id">
                        </ng-select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.secteurActivite3"
                               for="field_secteurActivite2">Secteur
                            Activite 2</label>
                        <ng-select id="field_secteurActivite3" name="secteurActivite3"
                                   [(ngModel)]="ficheClient.secteurActivite3Id"
                                   [items]="secteuractivites$ | async"
                                   bindLabel="libelle"
                                   bindValue="id"
                                   (change)="findActivites3()">
                        </ng-select>
                    </div>
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.activite3"
                               for="field_activite3">Activite 3</label>
                        <ng-select id="field_activite3" name="activite3" [(ngModel)]="ficheClient.activite3Id"
                                   [items]="activites3$ | async"
                                   bindLabel="libelle"
                                   bindValue="id">
                        </ng-select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.administrationCnss"
                               for="field_administrationCnss">Administration CNSS</label>
                        <ng-select id="field_administrationCnss" name="administrationCnss"
                                   [(ngModel)]="ficheClient.administrationCnss"
                                   [items]="centreAdministratifCnsss$ | async"
                                   bindLabel="libelle">
                        </ng-select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.administrationFiscale"
                               for="field_administrationFiscale">Administration Fiscale</label>
                        <ng-select id="field_administrationFiscale" name="administrationFiscale"
                                   [(ngModel)]="ficheClient.administrationFiscale"
                                   [items]="centreAdministratifFiscales$ | async"
                                   bindLabel="libelle">
                        </ng-select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label jhiTranslate="comptaDecisionApp.ficheClient.administrationImpot"
                               for="field_administrationImpot">Administration Impot</label>
                        <ng-select id="field_administrationImpot" name="administrationImpot"
                                   [(ngModel)]="ficheClient.administrationImpot"
                                   [items]="centreAdministratifImpots$ | async"
                                   bindLabel="libelle">
                        </ng-select>
                    </div>
                </div>


            </div>
            <br>
            <br>
            <h2><span jhiTranslate="comptaDecisionApp.impotMensuelClient.detail.title">Paramétrage impôts mensuels client </span> {{ficheClient.designation}}
            </h2>

            <div class="table-responsive" *ngIf="ficheClient.impotMensuelClients.length > 0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th *ngFor="let impotMensuelClient of ficheClient.impotMensuelClients | orderBy: 'impotMensuelId' "
                            title="{{impotMensuelClient.impotMensuelDescription}}">
                                <span
                                    *ngIf="!impotMensuelClient.impotMensuelChild">{{impotMensuelClient.impotMensuelLibelle}}</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td *ngFor="let impotMensuelClient of ficheClient.impotMensuelClients;let i=index">
                            <input name="impotMensuelClients[{{i}}]" title="Appliquer cet impot" type="checkbox"
                                   [(ngModel)]="impotMensuelClient.applicable"
                                   *ngIf="!impotMensuelClient.impotMensuelChild"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
