<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ficheClient">
            <h2><span jhiTranslate="comptaDecisionApp.ficheClient.detail.title">Fiche Client</span> {{ficheClient.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.categorieClient">Categorie Client</span></dt>
                <dd>
                    <span jhiTranslate="{{'comptaDecisionApp.CategorieClient.' + ficheClient.categorieClient}}">{{ficheClient.categorieClient}}</span>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.designation">Designation</span></dt>
                <dd>
                    <span>{{ficheClient.designation}}</span>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.logo">Logo</span></dt>
                <dd>
                    <div *ngIf="ficheClient.logo">
                        <a (click)="openFile(ficheClient.logoContentType, ficheClient.logo)">
                            <img [src]="'data:' + ficheClient.logoContentType + ';base64,' + ficheClient.logo" style="max-width: 100%;" alt="ficheClient image"/>
                        </a>
                        {{ficheClient.logoContentType}}, {{byteSize(ficheClient.logo)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.adresse">Adresse</span></dt>
                <dd>
                    <span>{{ficheClient.adresse}}</span>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.region">Region</span></dt>
                <dd>
                    <div *ngIf="ficheClient.regionId">
                        <a [routerLink]="['/region', ficheClient.regionId, 'view']">{{ficheClient.regionLibelle}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.ville">Ville</span></dt>
                <dd>
                    <div *ngIf="ficheClient.villeId">
                        <a [routerLink]="['/ville', ficheClient.villeId, 'view']">{{ficheClient.villeLibelle}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.codePostal">Code Postal</span></dt>
                <dd>
                    <span>{{ficheClient.codePostal}}</span>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.telephone">Telephone</span></dt>
                <dd>
                    <span>{{ficheClient.telephone}}</span>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.fax">Fax</span></dt>
                <dd>
                    <span>{{ficheClient.fax}}</span>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.email">Email</span></dt>
                <dd>
                    <span>{{ficheClient.email}}</span>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.matriculeFiscale">Matricule Fiscale</span></dt>
                <dd>
                    <span>{{ficheClient.matriculeFiscale}}</span>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.registreCommerce">Registre Commerce</span></dt>
                <dd>
                    <span>{{ficheClient.registreCommerce}}</span>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.dateCreation">Date Creation</span></dt>
                <dd>
                    <span>{{ficheClient.dateCreation}}</span>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.cnssEmployeur">Cnss Employeur</span></dt>
                <dd>
                    <span>{{ficheClient.cnssEmployeur}}</span>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.cnssGerant">Cnss Gerant</span></dt>
                <dd>
                    <span>{{ficheClient.cnssGerant}}</span>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.fichierPatente">Fichier Patente</span></dt>
                <dd>
                    <div *ngIf="ficheClient.fichierPatente">
                        <a (click)="openFile(ficheClient.fichierPatenteContentType, ficheClient.fichierPatente)" jhiTranslate="entity.action.open">open</a>
                        {{ficheClient.fichierPatenteContentType}}, {{byteSize(ficheClient.fichierPatente)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.secteurActivite">Secteur Activite</span></dt>
                <dd>
                    <div *ngIf="ficheClient.secteurActiviteId">
                        <a [routerLink]="['/secteur-activite', ficheClient.secteurActiviteId, 'view']">{{ficheClient.secteurActiviteId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.activite">Activite</span></dt>
                <dd>
                    <div *ngIf="ficheClient.activiteId">
                        <a [routerLink]="['/activite', ficheClient.activiteId, 'view']">{{ficheClient.activiteLibelle}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.ficheClient.activiteScondaire">Activite Scondaire</span></dt>
                <dd>
                    <div *ngIf="ficheClient.activiteScondaireId">
                        <a [routerLink]="['/activite', ficheClient.activiteScondaireId, 'view']">{{ficheClient.activiteScondaireLibelle}}</a>
                    </div>
                </dd>
            </dl>
            <br/>
            <h2><span jhiTranslate="comptaDecisionApp.impotMensuelClient.detail.title">Paramétrage impôts mensuels client </span> {{ficheClient.designation}}</h2>
            <jhi-alert></jhi-alert>
            <div class="table-responsive" *ngIf="ficheClient.impotMensuelClients.length > 0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span jhiTranslate="comptaDecisionApp.impotMensuelClient.mois">Mois</span></th>
                        <th *ngFor="let impotMensuel of ficheClient.impotMensuelClientsGroupedByMois.get('1')" title="{{impotMensuel.impotMensuelDescription}}">{{impotMensuel.impotMensuelLibelle}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let i of ficheClient.impotMensuelClientsGroupedByMois | keyvalue">
                        <td><strong>{{i.key}}</strong></td>
                        <td *ngFor="let impotMensuelClient of i.value">
                            <input title="Appliquer cet impot" type="checkbox"[(ngModel)]="impotMensuelClient.applicable"
                                   (change)="saveImpotMensuel(impotMensuelClient)"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fiche-client', ficheClient.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
