<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="impotMensuel">
            <h2><span jhiTranslate="comptaDecisionApp.impotMensuel.detail.title">Impot Mensuel</span> {{impotMensuel.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="comptaDecisionApp.impotMensuel.code">Code</span></dt>
                <dd>
                    <span>{{impotMensuel.code}}</span>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.impotMensuel.libelle">Libelle</span></dt>
                <dd>
                    <span>{{impotMensuel.libelle}}</span>
                </dd>
                <dt><span jhiTranslate="comptaDecisionApp.impotMensuel.description">Description</span></dt>
                <dd>
                    <span>{{impotMensuel.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/impot-mensuel', impotMensuel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
