<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-declaration-employeur-annuelle-heading" jhiTranslate="comptaDecisionApp.declarationEmployeurAnnuelle.home.createOrEditLabel">Create or edit a Declaration Employeur Annuelle</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <input type="text" class="form-control" id="id" name="id"
                       [(ngModel)]="declarationEmployeurAnnuelle.id" [hidden]="true" />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.declarationEmployeurAnnuelle.ficheClient"
                               for="field_ficheClient">Fiche Client</label>
                        <input [disabled]="true" type="text" class="form-control" name="ficheClient"
                               id="field_ficheClient"
                               [(ngModel)]="declarationEmployeurAnnuelle.ficheClientDesignation"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="comptaDecisionApp.declarationEmployeurAnnuelle.annee" for="field_annee">Annee</label>
                        <input [disabled]="true" class="form-control" name="annee" id="field_annee"
                               [(ngModel)]="declarationEmployeurAnnuelle.annee" required/>
                    </div>
                </div>

                <h3 jhiTranslate="comptaDecisionApp.declarationAnnuelle.home.tableTitle">Saisie des montants de la déclaration</h3>
                <br>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>
                            <label class="form-control-label" jhiTranslate="comptaDecisionApp.declarationEmployeurAnnuelle.montantAnnexe1"
                                   for="field_montantAnnexe1">Montant Annexe 1</label>
                        </th>
                        <td>
                            <input jhiDigitOnly [decimal]="true" class="numeric form-control" name="montantAnnexe1" id="field_montantAnnexe1"
                                   [(ngModel)]="declarationEmployeurAnnuelle.montantAnnexe1" (change)="updateMontants()"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="form-control-label" jhiTranslate="comptaDecisionApp.declarationEmployeurAnnuelle.montantAnnexe2"
                                   for="field_montantAnnexe2">Montant Annexe 2</label>
                        </th>
                        <td>
                            <input jhiDigitOnly [decimal]="true" class="numeric form-control" name="montantAnnexe2" id="field_montantAnnexe2"
                                   [(ngModel)]="declarationEmployeurAnnuelle.montantAnnexe2" (change)="updateMontants()"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="form-control-label" jhiTranslate="comptaDecisionApp.declarationEmployeurAnnuelle.montantAnnexe3"
                                   for="field_montantAnnexe3">Montant Annexe 3</label>
                        </th>
                        <td>
                            <input jhiDigitOnly [decimal]="true" class="numeric form-control" name="montantAnnexe3" id="field_montantAnnexe3"
                                   [(ngModel)]="declarationEmployeurAnnuelle.montantAnnexe3" (change)="updateMontants()"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="form-control-label" jhiTranslate="comptaDecisionApp.declarationEmployeurAnnuelle.montantAnnexe4"
                                   for="field_montantAnnexe4">Montant Annexe 4</label>
                        </th>
                        <td>
                            <input jhiDigitOnly [decimal]="true" class="numeric form-control" name="montantAnnexe4" id="field_montantAnnexe4"
                                   [(ngModel)]="declarationEmployeurAnnuelle.montantAnnexe4" (change)="updateMontants()"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="form-control-label" jhiTranslate="comptaDecisionApp.declarationEmployeurAnnuelle.montantAnnexe5"
                                   for="field_montantAnnexe5">Montant Annexe 5</label>
                        </th>
                        <td>
                            <input jhiDigitOnly [decimal]="true" class="numeric form-control" name="montantAnnexe5" id="field_montantAnnexe5"
                                   [(ngModel)]="declarationEmployeurAnnuelle.montantAnnexe5" (change)="updateMontants()"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="form-control-label" jhiTranslate="comptaDecisionApp.declarationEmployeurAnnuelle.montantAnnexe6"
                                   for="field_montantAnnexe6">Montant Annexe 6</label>
                        </th>
                        <td>
                            <input jhiDigitOnly [decimal]="true" class="numeric form-control" name="montantAnnexe6" id="field_montantAnnexe6"
                                   [(ngModel)]="declarationEmployeurAnnuelle.montantAnnexe6" (change)="updateMontants()"/>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <label class="form-control-label" jhiTranslate="comptaDecisionApp.declarationEmployeurAnnuelle.montantAnnexe7"
                                   for="field_montantAnnexe7">Montant Annexe 7</label>
                        </th>
                        <td>
                            <input jhiDigitOnly [decimal]="true" class="numeric form-control" name="montantAnnexe7" id="field_montantAnnexe7"
                                   [(ngModel)]="declarationEmployeurAnnuelle.montantAnnexe7" (change)="updateMontants()"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="form-control-label" jhiTranslate="comptaDecisionApp.declarationEmployeurAnnuelle.montantAnnexe8"
                                   for="field_montantAnnexe8">Montant Annexe 8</label>
                        </th>
                        <td>
                            <input jhiDigitOnly [decimal]="true" class="numeric form-control" name="montantAnnexe8" id="field_montantAnnexe8"
                                   [(ngModel)]="declarationEmployeurAnnuelle.montantAnnexe8" (change)="updateMontants()"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="form-control-label" jhiTranslate="comptaDecisionApp.declarationEmployeurAnnuelle.montantAnnexe9"
                                   for="field_montantAnnexe9">Montant Annexe 9</label>
                        </th>
                        <td>
                            <input jhiDigitOnly [decimal]="true" class="numeric form-control" name="montantAnnexe9" id="field_montantAnnexe9"
                                   [(ngModel)]="declarationEmployeurAnnuelle.montantAnnexe9" (change)="updateMontants()"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="form-control-label" jhiTranslate="comptaDecisionApp.declarationEmployeurAnnuelle.montantAnnexe10"
                                   for="field_montantAnnexe10">Montant Annexe 10</label>
                        </th>
                        <td>
                            <input jhiDigitOnly [decimal]="true" class="numeric form-control" name="montantAnnexe10" id="field_montantAnnexe10"
                                   [(ngModel)]="declarationEmployeurAnnuelle.montantAnnexe10" (change)="updateMontants()"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="form-control-label" jhiTranslate="comptaDecisionApp.declarationEmployeurAnnuelle.montantAnnexe11"
                                   for="field_montantAnnexe11">Montant Annexe 11</label>
                        </th>
                        <td>
                            <input jhiDigitOnly [decimal]="true" class="numeric form-control" name="montantAnnexe11" id="field_montantAnnexe11"
                                   [(ngModel)]="declarationEmployeurAnnuelle.montantAnnexe11" (change)="updateMontants()"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="form-control-label" jhiTranslate="comptaDecisionApp.declarationEmployeurAnnuelle.montantAnnexe12"
                                   for="field_montantAnnexe12">Montant Annexe 12</label>
                        </th>
                        <td>
                            <input jhiDigitOnly [decimal]="true" class="numeric form-control" name="montantAnnexe12" id="field_montantAnnexe12"
                                   [(ngModel)]="declarationEmployeurAnnuelle.montantAnnexe12" (change)="updateMontants()"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
