<div>
    <h2 id="page-heading">
        <span jhiTranslate="comptaDecisionApp.declarationAnnuelle.home.title">Declaration Annuelles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-declaration-annuelle" [routerLink]="['/declaration-annuelle/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="comptaDecisionApp.declarationAnnuelle.home.createLabel">
            Create new Declaration Annuelle
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="declarationAnnuelles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">

            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="ficheClientDesignation"><span jhiTranslate="comptaDecisionApp.declarationAnnuelle.ficheClient">Fiche Client</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="annee"><span jhiTranslate="comptaDecisionApp.declarationAnnuelle.annee">Annee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="datePaiement"><span jhiTranslate="comptaDecisionApp.declarationAnnuelle.datePaiement">Date Paiement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numeroQuittance"><span jhiTranslate="comptaDecisionApp.declarationAnnuelle.numeroQuittance">Numero Quittance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montantChiffreAffaireHT"><span jhiTranslate="comptaDecisionApp.declarationAnnuelle.montantChiffreAffaireHT">Montant Chiffre Affaire HT</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montantChiffreAffaireExport"><span jhiTranslate="comptaDecisionApp.declarationAnnuelle.montantChiffreAffaireExport">Montant Chiffre Affaire Export</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montantChiffreAffaireImpot"><span jhiTranslate="comptaDecisionApp.declarationAnnuelle.montantChiffreAffaireImpot">Montant Chiffre Affaire Impot</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montantChiffreAffaireTTC"><span jhiTranslate="comptaDecisionApp.declarationAnnuelle.montantChiffreAffaireTTC">Montant Chiffre Affaire TTC</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montantResultatComptable"><span jhiTranslate="comptaDecisionApp.declarationAnnuelle.montantResultatComptable">Montant Resultat Comptable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montantDeductionCommune"><span jhiTranslate="comptaDecisionApp.declarationAnnuelle.montantDeductionCommune">Montant Deduction Commune</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montantAutreDeduction"><span jhiTranslate="comptaDecisionApp.declarationAnnuelle.montantAutreDeduction">Montant Autre Deduction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montantBaseImposable"><span jhiTranslate="comptaDecisionApp.declarationAnnuelle.montantBaseImposable">Montant Base Imposable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montantImpotLiquide"><span jhiTranslate="comptaDecisionApp.declarationAnnuelle.montantImpotLiquide">Montant Impot Liquide</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montantAcompteProvisionnel"><span jhiTranslate="comptaDecisionApp.declarationAnnuelle.montantAcompteProvisionnel">Montant Acompte Provisionnel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montantRetenueSource"><span jhiTranslate="comptaDecisionApp.declarationAnnuelle.montantRetenueSource">Montant Retenue Source</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montantNetAPaye"><span jhiTranslate="comptaDecisionApp.declarationAnnuelle.montantNetAPaye">Montant Net A Paye</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let declarationAnnuelle of declarationAnnuelles ;trackBy: trackId">
                <td><a [routerLink]="['/declaration-annuelle', declarationAnnuelle.id, 'view' ]">{{declarationAnnuelle.id}}</a></td>
                <td>
                    <div *ngIf="declarationAnnuelle.ficheClientId">
                        <a [routerLink]="['../fiche-client', declarationAnnuelle.ficheClientId , 'view' ]" >{{declarationAnnuelle.ficheClientDesignation}}</a>
                    </div>
                </td>
                <td>{{declarationAnnuelle.annee}}</td>
                <td>{{declarationAnnuelle.datePaiement | date:'mediumDate'}}</td>
                <td>{{declarationAnnuelle.numeroQuittance}}</td>
                <td>{{declarationAnnuelle.montantChiffreAffaireHT}}</td>
                <td>{{declarationAnnuelle.montantChiffreAffaireExport}}</td>
                <td>{{declarationAnnuelle.montantChiffreAffaireImpot}}</td>
                <td>{{declarationAnnuelle.montantChiffreAffaireTTC}}</td>
                <td>{{declarationAnnuelle.montantResultatComptable}}</td>
                <td>{{declarationAnnuelle.montantDeductionCommune}}</td>
                <td>{{declarationAnnuelle.montantAutreDeduction}}</td>
                <td>{{declarationAnnuelle.montantBaseImposable}}</td>
                <td>{{declarationAnnuelle.montantImpotLiquide}}</td>
                <td>{{declarationAnnuelle.montantAcompteProvisionnel}}</td>
                <td>{{declarationAnnuelle.montantRetenueSource}}</td>
                <td>{{declarationAnnuelle.montantNetAPaye}}</td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/declaration-annuelle', declarationAnnuelle.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/declaration-annuelle', declarationAnnuelle.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'declaration-annuelle', { outlets: { popup: declarationAnnuelle.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="declarationAnnuelles && declarationAnnuelles.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
