<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-declaration-annuelle-heading"
                jhiTranslate="comptaDecisionApp.declarationAnnuelle.home.createOrEditLabel">Create or edit a Declaration
                Annuelle</h2>
            <br>
            <br>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <input [hidden]="true" type="text" class="form-control" id="id" name="id"
                       [(ngModel)]="declarationAnnuelle.id"/>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.declarationAnnuelle.ficheClient"
                               for="field_ficheClient">Fiche Client</label>
                        <input [disabled]="true" type="text" class="form-control" name="ficheClient"
                               id="field_ficheClient"
                               [(ngModel)]="declarationAnnuelle.ficheClientDesignation"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label
                                jhiTranslate="comptaDecisionApp.declarationAnnuelle.typeDeclaration"
                                for="field_typeDeclaration">Type déclaration</label>
                        <select [disabled]="true" required class="form-control" name="typeDeclaration"
                                [(ngModel)]="declarationAnnuelle.typeDeclaration" id="field_typeDeclaration">
                            <option value="DECLARATION_INITIALE">{{'comptaDecisionApp.typeDeclaration.DECLARATION_INITIALE' | translate}}</option>
                            <option value="DECLARATION_RECTIFICATIVE">{{'comptaDecisionApp.typeDeclaration.DECLARATION_RECTIFICATIVE' | translate}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.declarationAnnuelle.annee"
                               for="field_annee">Annee</label>
                        <input [disabled]="true" type="text" class="form-control" name="annee" id="field_annee"
                               [(ngModel)]="declarationAnnuelle.annee"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.declarationAnnuelle.montant"
                               for="field_montant">Montant</label>
                        <input [disabled]="true" class="form-control numeric" name="montant" id="field_montant"
                               [ngModel]="declarationAnnuelle.montant | number:'1.3-3'"
                               (ngModelChange)="declarationAnnuelle.montant=$event"/>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label jhiTranslate="comptaDecisionApp.declarationAnnuelle.datePaiement"
                               for="field_datePaiement">Date Paiement</label>
                        <div class="input-group">
                            <input id="field_datePaiement" type="text" class="form-control" name="datePaiement"
                                   ngbDatepicker #datePaiementDp="ngbDatepicker"
                                   [(ngModel)]="declarationAnnuelle.datePaiement"
                            />
                            <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datePaiementDp.toggle()"><fa-icon
                                    [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label
                                jhiTranslate="comptaDecisionApp.declarationAnnuelle.numeroQuittance"
                                for="field_numeroQuittance">Numero Quittance</label>
                        <input type="text" class="form-control" name="numeroQuittance" id="field_numeroQuittance"
                               [(ngModel)]="declarationAnnuelle.numeroQuittance"/>
                    </div>
                </div>
                <br>
                <br>
                <h3 jhiTranslate="comptaDecisionApp.declarationAnnuelle.home.tableTitle">Saisie des montants
                    de la déclaration</h3>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                      <th>Type d'impôts</th><th>Montants à saisir</th><th>Montants calculés</th>
                    </tr>
                    <tr *ngFor="let declarationAnnuelleDetail of declarationAnnuelle.declarationAnnuelleDetails | orderBy: 'triOrdre'; let i = index;">
                        <th><label
                                for="field_declarationAnnuelleDetailMontant">{{declarationAnnuelleDetail.libelle}}</label>
                        </th>
                        <td><input jhiDigitOnly decimal="true" class="form-control numeric"
                                   name="field_declarationAnnuelleDetail[{{i}}].montant"
                                   id="field_declarationAnnuelleDetailMontant"
                                   [(ngModel)]="declarationAnnuelleDetail.montant" (change)="calculerMontant(i)"/></td>
                        <td><input [disabled]="true" class="form-control numeric"
                                   name="field_declarationAnnuelleDetail[{{i}}].montantCalcule"
                                   id="field_declarationAnnuelleDetailMontantCalcule"
                                   [ngModel]="declarationAnnuelleDetail.calcule ? (declarationAnnuelleDetail.montantCalcule | number:'1.3-3') : 'NC'"
                                   (ngModelChange)="declarationAnnuelleDetail.montantCalcule=$event"/></td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <br>
            <br>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
