<div>
    <h2 id="page-heading">
        <span jhiTranslate="comptaDecisionApp.ville.home.title">Villes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ville" [routerLink]="['/ville/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="comptaDecisionApp.ville.home.createLabel">
            Create new Ville
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="villes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="comptaDecisionApp.ville.code">Code</span></th>
            <th><span jhiTranslate="comptaDecisionApp.ville.codePostal">Code Postal</span></th>
            <th><span jhiTranslate="comptaDecisionApp.ville.libelle">Libelle</span></th>
            <th><span jhiTranslate="comptaDecisionApp.ville.description">Description</span></th>
            <th><span jhiTranslate="comptaDecisionApp.ville.region">Region</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ville of villes ;trackBy: trackId">
                <td><a [routerLink]="['/ville', ville.id, 'view' ]">{{ville.id}}</a></td>
                <td>{{ville.code}}</td>
                <td>{{ville.codePostal}}</td>
                <td>{{ville.libelle}}</td>
                <td>{{ville.description}}</td>
                <td>
                    <div *ngIf="ville.regionId">
                        <a [routerLink]="['../region', ville.regionId , 'view' ]" >{{ville.regionLibelle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ville', ville.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ville', ville.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'ville', { outlets: { popup: ville.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
